<form [formGroup]="entityForm" (ngSubmit)="onSubmit()">
  <!-- Product ID (Solo lectura) -->

  <div class="field" *ngIf="productId">
    <label >ID del Producto: {{productId}}</label>
  </div>

  <!-- SKU del Producto -->
  <div class="field">
    <label for="productName">Nombre del Producto</label>
    <input
      type="text"
      pInputText
      id="productName"
      formControlName="productName"
      required
      autofocus
      [class.ng-invalid]="isFieldInvalid('productName')"
    />
    <small class="p-error" *ngIf="entityForm.get('productName')?.invalid && entityForm.get('productName')?.touched">
      El nombre es requerido y debe tener un máximo de 100 caracteres.
    </small>
    <small class="p-error" *ngIf="isFieldInvalid('productName')">
      {{ getFieldError('productName') }}
    </small>
  </div>

  <!-- SKU del Producto -->
  <div class="field">
    <label for="productDescription">Descripción del Producto</label>
    <textarea
      pInputTextarea
      id="productDescription"
      formControlName="productDescription"
      rows="3"
      [class.ng-invalid]="isFieldInvalid('productDescription')"
    ></textarea>
    <small class="p-error" *ngIf="isFieldInvalid('productDescription')">
      {{ getFieldError('productDescription') }}
    </small>
  </div>

  <!-- Imagen del Producto -->
  <div class="field">
    <label for="productImage">Imagen del Producto</label>
    <input
      type="url"
      pInputText
      id="productImage"
      formControlName="productImage"
      placeholder="https://ejemplo.com/imagen.jpg"
      [class.ng-invalid]="isFieldInvalid('productImage')"
    />
    <small class="p-error" *ngIf="isFieldInvalid('productImage')">
      {{ getFieldError('productImage') }}
    </small>
  </div>
    <!-- Ctegoria -->
    <div class="field">
      <label for="categoryId">Categoria</label>
      <p-dropdown
        inputId="categoryId"
        [options]="categories()"
        optionLabel="categoryName"
        optionValue="categoryId"
        formControlName="categoryId"
        placeholder="Selecciona una categoria"
        [class.ng-invalid]="isFieldInvalid('categoryId')"
      ></p-dropdown>
      <small class="p-error" *ngIf="isFieldInvalid('categoryId')">
      {{ getFieldError('categoryId') }}
      </small>
    </div>
  <!-- Botones de acción -->
  <div class="form-actions">
    <p-button
      label="Cancelar"
      icon="pi pi-times"
      [text]="true"
      (click)="onCancel()"
      [disabled]="isSubmitting()"
    ></p-button>
    <p-button
      [label]="isEditMode() ? 'Actualizar' : 'Guardar'"
      icon="pi pi-check"
      [text]="true"
      type="submit"
      [disabled]="isSubmitting()"
      [loading]="isSubmitting()"
    ></p-button>
  </div>
</form>
