<form [formGroup]="entityForm" (ngSubmit)="onSubmit()">
  <!-- Product ID (Solo lectura) -->

  <div class="field" *ngIf="productId">
    <label >ID del Producto: {{productId}}</label>
  </div>

  <!-- SKU del Producto -->
  <div class="field">
    <label for="productName">Nombre del Producto</label>
    <input
      type="text"
      pInputText
      id="productName"
      formControlName="productName"
      required
      autofocus
    />
    <small class="p-error" *ngIf="entityForm.get('productName')?.invalid && entityForm.get('productName')?.touched">
      El nombre es requerido y debe tener un máximo de 100 caracteres.
    </small>
  </div>

  <!-- SKU del Producto -->
  <div class="field">
    <label for="productName">Descripcion del Producto</label>
    <input
      type="text"
      pInputText
      id="productDescription"
      formControlName="productDescription"
      required
      autofocus
    />
    <small class="p-error" *ngIf="entityForm.get('productDescription')?.invalid && entityForm.get('productDescription')?.touched">
      El nombre es requerido y debe tener un máximo de 100 caracteres.
    </small>
  </div>

  <!-- Imagen del Producto -->
  <div class="field">
    <label for="productImage">Imagen del Producto</label>
    <input
      type="text"
      pInputText
      id="productImage"
      formControlName="productImage"
    />
    <small class="p-error" *ngIf="entityForm.get('productImage')?.invalid && entityForm.get('productImage')?.touched">
      La URL de la imagen no es válida.
    </small>
  </div>
    <!-- Ctegoria -->
    <div class="field">
      <label for="categoryId">Categoria</label>
      <p-dropdown
        inputId="categoryId"
        [options]="categories"
        optionLabel="categoryName"
        optionValue="categoryId"
        formControlName="categoryId"
        placeholder="Selecciona una categoria"
      ></p-dropdown>
    </div>
  <!-- Botones de acción -->
  <div class="form-actions">
    <p-button
      label="Cancelar"
      icon="pi pi-times"
      [text]="true"
      (click)="onCancel()"
    ></p-button>
    <p-button
      label="{{ isEditMode ? 'Editar' : 'Guardar' }}"
      icon="pi pi-check"
      [text]="true"
      type="submit"
    ></p-button>
  </div>
</form>
