<div class="card">
  <p-toast />
<div class="services-container">
  <div class="services-header p-card">
    <div class="p-d-flex p-ai-center">
      <h1 class="services-title">Gestión de Servicios</h1>
    </div>
  </div>
      <p-toolbar styleClass="mb-6">
        <ng-template pTemplate="start">
            <p-button
                label="Nuevo Servicio"
                icon="pi pi-plus"
                class="mr-2"
                (onClick)="openNewServiceDialog()" />
            <p-button
                severity="danger"
                label="Eliminar"
                icon="pi pi-trash"
                outlined
                [disabled]="!hasSelectedServices"
                (onClick)="confirmDeleteSelectedServices()" />
                <!--[disabled]="!selectedServicesSignal() || !selectedServicesSignal().length" /> -->
        </ng-template>

        <ng-template pTemplate="end">
            <p-button
                label="Exportar"
                icon="pi pi-upload"
                severity="secondary"
                (onClick)="exportCSV()" />
        </ng-template>
    </p-toolbar>
  <!-- List Component -->
  <app-services-list-page
    [loading]="isLoading"
    (deleteService)="confirmDeleteService($event)"
    (deleteSelectedServices)="setDeleteSelectedServices($event)"
    (selectedService)="openEditServiceDialog($event)"
    (refresh)="refreshServices()"
    (requestCsv)="setDt($event)">
  ></app-services-list-page>
  <!-- Dialog for Creating/Editing -->
  <p-dialog
    [(visible)]="serviceDialog"
    [style]="{ width: '700px', height: '800px' }"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [header]="selectedService ? 'Editar Servicio' : 'Nuevo Servicio'"
    styleClass="p-fluid service-dialog">

    <app-new-service-page
      [entity]="selectedService"
      [serviceId]="selectedService?.serviceDTO?.serviceId || 0"
      (closeDialog)="hideServiceDialog()"
      (refreshEntities)="refreshServices()">
    </app-new-service-page>
  </p-dialog>

  <!-- Confirmation Dialog for Delete Actions -->
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

</div>
