<div class="m-5">
  <h1 class="m-3 p-2 flex justify-content-center align-items-center">BRAIDS BEAUTY ANGIE</h1>
  <div class="flex justify-content-center align-items-center">

    <div class="surface-card p-5 border-round shadow-2 w-full sm:w-25rem">
      <h2 class="text-center text-2xl font-bold text-primary-200 mb-4">Inicio de Sesion</h2>

      <!-- Mensaje de Error Global -->
      <div *ngIf="errorMessage" class="text-red-500 text-center mb-4">
        {{ errorMessage }}
      </div>


      <form class="flex flex-column gap-4"  [formGroup]="userForm" (ngSubmit)="onLogin()">
        <!-- Username -->
        <div class="flex flex-column gap-2">
          <label for="username" class="text-primary-300 font-medium">Usuario</label>
          <input
            id="username"
            type="text"
            pInputText
            formControlName="username"
            placeholder="Ingresa tu nombre de ususario"
            class="w-full p-inputtext p-component"
          />
          <small *ngIf="usernameControl?.touched && usernameControl?.errors?.['required']" class="text-red-500">
            El usuario es obligatorio.
          </small>
          <small *ngIf="usernameControl?.touched && usernameControl?.errors?.['minlength']" class="text-red-500">
            El usuario debe tener al menos 2 caracteres.
          </small>
          <small *ngIf="usernameControl?.touched && usernameControl?.errors?.['maxlength']" class="text-red-500">
            El usuario no puede exceder los 50 caracteres.
          </small>
        </div>

        <!-- Password -->
        <div class="flex flex-column gap-2">
          <label for="password" class="text-primary-300 font-medium">Contrasenia</label>
          <input
            id="password"
            type="password"
            formControlName="password"
            pInputText
            placeholder="Ingresa tu constrasenia"
            class="w-full p-inputtext p-component"
          />
          <small *ngIf="passwordControl?.touched && passwordControl?.errors?.['required']" class="text-red-500">
            La contraseña es obligatoria.
          </small>
          <small *ngIf="passwordControl?.touched && passwordControl?.errors?.['minlength']" class="text-red-500">
            La contraseña debe tener al menos 6 caracteres.
          </small>
        </div>

        <!-- Login Button -->
        <div class="flex mx-auto">
          <p-button
            label="Ingresar"
            icon="pi pi-sign-in"
            class="w-full mx-3"
            (click)="onLogin()"
            styleClass="bg-primary text-primary-50 font-medium p-3 border-round hover:bg-primary-600 transition-duration-200"
          ></p-button>
        </div>
      </form>
      <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/new-account">¿No tienes cuenta?</a>
      </div>
    </div>
  </div>

</div>
