<!-- Contenedor para el título y el botón "Agregar nuevo ítem" -->
<div class="product-list-header">
  <div class="product-list-title">
    Items
  </div>
  <button
    pButton
    label="Agregar Nuevo Item"
    icon="pi pi-plus"
    class="add-item-button"
    [routerLink]="['new']">
  </button>
</div>

<p-table [value]="items" *ngIf="items.length > 0">
  <ng-template pTemplate="header">
    <tr>
      <th>Imagen</th>
      <th>SKU</th>
      <th>Stock</th>
      <th>Precio</th>
      <th>Variaciones</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
        <img [src]="item.productItemImage | productImage" alt="{{ item.productItemSKU }}" class="item-image" />
      </td>
      <td>{{ item.productItemSKU }}</td>
      <td>{{ item.productItemQuantityInStock }}</td>
      <td>{{ item.productItemPrice | currencySoles }}</td>
      <td>
        <ng-container *ngFor="let v of item.variations; let i = index">
          <span *ngIf="i > 0">, </span>
          {{ v.variationName }}: {{ v.options }}
        </ng-container>
      </td>
      <td>
        <button pButton label="Editar" icon="pi pi-pencil" class="action-button"  [routerLink]="['edit', item.productItemId]"></button>
        <button pButton label="Eliminar" icon="pi pi-trash" class="p-button-danger action-button" (click)="onDeleteItemProduct(item)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p *ngIf="items.length === 0">No items available.</p>
